* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: linear-gradient(to left, #D6CCE7, #D6CCE7, #AAE5F5, #FAFAFA);
}

.frame{
  width: Hug (152px);
height: Hug (33px);
/* background: rgba(255, 255, 255, 1); */


}

.nav-link{
  font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;

}

/* css */
.font-100 {
  font-size: 100px;
}

/* header css start*/
/* header {
  background: linear-gradient(to left, #D6CCE7, #D6CCE7, #AAE5F5, #FAFAFA);
} */

.home {
  /* background-image: linear-gradient(to bottom right,#D6CCE7,#D6CCE7, #AAE5F5, #FAFAFA); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 91vh;
  width: 100%;
  flex-direction: column-reverse;
}

.title {
  display: inline-block;
  color: #1E1E1E;
  font-size: 80px;

}


.holder {
  font-size: 100px;
}

/* industry css start*/
.vertical-text {
  line-height: 1;
  display: inline-block;
  transform: rotate(270deg);
}

.rounded-rectangle {
  width: 300px;
  height: 100px;
  background-color: #3498db;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  
}

.img-div:hover {
  /* background-position: left bottom; */
  animation: mymove 2s linear infinite alternate;
}

@keyframes mymove {
  0% {
    /* -webkit-transform: translateX(0px); */
    transform: translateX(0px);
    background-color: black;

  }

  50% {
    /* -webkit-transform: translateX(0px); */
    transform: translateX(100px);
    background-color: black;
  }

  100% {
    /* -webkit-transform: translateX(0px); */
    transform: translateX(0px);
    background-color: black;
  }
}

.rounded-rectangle img {
  height: 6.1rem;
  width: 6.1rem;
  object-fit: cover;
  border-radius: 50px;
}



.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;

}

/* .industry {
  background: linear-gradient(to right, #FAFAFA, #FAFAFA, #BCA5DF);
}

/* industry solution css start 
.industry-solution {
  background: linear-gradient(to right, #FAFAFA, #E1D0E8, #BCA5DF);
} */

.box {
  background-color: rgba(217, 217, 217, 1);
  height: 201px;
  width: 180px;
}

.industry-title {
  font-size: 100px;
}

.services {
  font-weight: 700;
}

/* Breakpoint Setting	For Device
max-width 320px	Smartwatches
max-width 420px	Smaller devices
max-width 600px	Phones
min-width 600px	Tablets and Large Phones
min-width 768px	Tablets
min-width 992px	Laptops and Desktops
min-width 1200px	Monitors, Desktops */

@media screen and (min-width:320px) and (max-width:431px) {
  .industry-title {
    font-size: 70px;
  }

  .holder {
    font-size: 70px;
  }

  .vertical-text {
    transform: rotate(0deg);
  }

  .title {
    font-size: 70px;
  }
}


@media screen and (min-width:540px) and (max-width: 768px) {
  .col-md-6 {

    width: 100% !important;
  }

  .vertical-text {
    transform: rotate(0deg) !important;
  }
}
